<nav class="nav-primary" aria-label="Main">
  <div class="wrap">
    <ul class="menu top-nav-menu menu-primary">
      <li class="menu-item">
        <a href="{% url 'home' %}"><span>Home</span></a>
      </li>
      <li class="menu-item">
        <a href="{% url 'posts:index' %}"><span>Menu</span></a>
      </li>
      <li class="menu-item">
        <a href="{% url 'posts:create_item' %}"><span>Add Item</span></a>
      </li>
      <li class="menu-item">
        <a href="{% url 'login' %}"><span>Login</span></a>
      </li>
      <li class="menu-item">
        <a href="{% url 'logout' %}"><span>Logout</span></a>
      </li>
    </ul>
  </div>
</nav>
