{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="img img-fluid img-small" src="{{ user.profile.image.url }}" alt="Avatar">
            </div>
            <div class="col-md-8">
                <h2>{{ user.username }}</h2>
                <p>Email {{ user.email }}</p>
                {% if user == current_user %}
                    <p><a href="{% url 'edit_profile' %}">Edit Profile</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}